.blue_box {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #6EAEE5;
    border-radius: 8px;
}

#respond h3#reply-title {
    display: none;
}


.line-yellow {
  background: linear-gradient(transparent 60%, rgba(252,200,0,.39) 0%);
}

.red_box {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #6EAEE5;
    border-radius: 8px;
}

.c_box.red_box {
	background: #FFE8BB;
	border-color: #FF9000;
}
.c_box.red_box .box_title span {
	background: #FF9000;
}

.c_box.blue_box {
	background: #E7FCFF;
	border-color: #6EAEE5;
}

.c_box.blue_box .box_title span {
	background: #6EAEE5;
}

.dot_box {
    border: 5px dashed #CCC;
    padding: 10px;
    border-radius: 10px;
}


.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}
.box1 p {
    margin: 0; 
    padding: 0;
}



.box1 {
    margin-bottom: 2em;
    padding: 2em;
    border: .5px solid #ccc;
    font-size: .8em;
    color: #555;
}





.woman_impressions {
    margin-bottom: 1.5em;
    padding: 1em;
    border: .5px solid #ccc;
    font-size: .8em;
    color: #555;
}


.woman_impressions_ttl {
    margin-bottom: 5px;
    font-weight: 700;
    color: #555;
}


.woman_impressions p:last-of-type {
    margin-bottom: 0;
    text-align: right;
}
.entry-content p {
    margin: 0 0 2em;
}

.woman_impressions_ttl:before {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 3px 0 0;
    border-radius: 50%;
    color: #eb6ea0;
    font-family: FontAwesome;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    content: "\f007";
    font-size: 2em;
}




.man_impressions_ttl {
    margin-bottom: 5px;
    font-weight: 700;
    color: #555;
}


.man_impressions p:last-of-type {
    margin-bottom: 0;
    text-align: right;
}
.entry-content p {
    margin: 0 0 2em;
}

.man_impressions_ttl:before {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 3px 0 0;
    border-radius: 50%;
    color: #4AAAEB;
    font-family: FontAwesome;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    content: "\f007";
    font-size: 2em;
}







.box-matome {
    position: relative;
    margin: 2.8em 0 2em;
    padding: 1.2em 1em 1em;
    border: solid 3px #f39800;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.33);
}
.sng-box {
    font-size: .94em;
}

.box-matome .box-title {
    display: inline-block;
    position: absolute;
    top: -12px;
    left: 10px;
    padding: 0 9px;
    background: #fff;
    color: #f39800;
    line-height: 1;
    font-size: 1.15em !important;
}


.box-matome .box-title:before {
    padding-right: 5.5px;
    font-family: FontAwesome;
    content: "\f040";
    font-size: 1.2em !important;
}


.box-matome ul {
    list-style-type: none!important;
    padding: 0;
    counter-reset: number;
}


.box-matome ul li {
    position: relative;
    display: block;
    padding: .65em 0 0 28px !important;
}


.box-matome .li-merit li:before {
    position: absolute;
    left: .5em;
    color: #2ca9e1;
    font-family: FontAwesome;
    content: "\f10c";
    background-color: transparent;
}



.box-matome .li-demerit li:before {
    position: absolute;
    left: .5em;
    color: #ef857d;
    font-family: FontAwesome;
    content: "\f00d";
    background-color: initial !important;
}


.entry-content  ul li:before {
	box-shadow: none;
}


.star-rating {
  position: relative;
  display:inline-block;
  font-size: 25px;
}
.star-rating .star-rating-item{
  position:absolute;
  overflow: hidden;
}
.star-rating .star-rating-item:before{
  content:"★★★★★";
  color: #ffcc33;
}
.star-rating:after {
  content:"★★★★★";
  color: #ccc;
}


.dfont {
    font-family: "Quicksand","Avenir","Arial","BIZ UDGothic",YuGothic,"Yu Gothic","Hiragino Sans","ヒラギノ角ゴシック","メイリオ",Meiryo,sans-serif;
}


.rate-title {
    padding: 5px;
    margin-top: 1em;
    font-weight: 700;
    font-size: 1.25em;
    text-align: center;
}
user agent stylesheet
div {
    display: block;
}


.has-fa-before:before, .has-fa-after:after {
    font-family: FontAwesome;
}


.rate-title:before {
    content: "\f02e";
    padding-right: 5px;
}


#toc_container .toc_title, #footer_menu .raised, .pagination a, .pagination span, #reply-title:before, .entry-content blockquote:before, .main-c-before li:before, .main-c-b:before {
    color: #069dcb;
}


.rate-box {
    margin-bottom: 1em;
    font-size: 15px;
    border: solid 2px #e6e6e6;
}

.rate-box {
    max-width: 580px;
    margin: 0 auto 1em;
    font-size: 17px;
}
user agent stylesheet
div {
    display: block;
}


.rate-box .rateline.end-rate {
    background: #e8f4ff;
}
user agent stylesheet
div {
    display: block;
}



div {
    display: block;
}



.star-rating {
    position: relative;
    display: inline-block;
    font-size: 25px;
}


.star-rating .star-rating-item {
    position: absolute;
    overflow: hidden;
}


.star-rating:after {
    content: "★★★★★";
    color: #ccc;
}







div.yyi-rinker-contents {
    border: double 4px #dbdbdb;
}

div.yyi-rinker-contents {
    margin: 1.5em 0;
    border: solid 1px #dbdbdb;
    background-color: #fff;
    box-shadow: 2px 3px 8px -5px rgba(0,0,0,.25);
}

div.yyi-rinker-contents div.yyi-rinker-box {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    box-sizing: border-box;
    padding: 12px;
}

div.yyi-rinker-contents div.yyi-rinker-image {
    width: 100px;
    min-width: 100px;
    padding: 0;
}

div.yyi-rinker-contents div.yyi-rinker-image {
    padding: 0;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

div.yyi-rinker-contents a {
    border: none;
}

a {
    color: #4f96f6;
}

a {
    text-decoration: none;
    transition: .3s ease-in-out;
}

a {
    background: 0 0;
}

div.yyi-rinker-contents img.yyi-rinker-main-img {
    width: 100px;
}

div.yyi-rinker-contents img {
    margin-bottom: 0;
}

.entry-content img {
    max-width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}

div.yyi-rinker-contents div.yyi-rinker-box div.yyi-rinker-info {
    width: calc(100% - 100px);
}

div.yyi-rinker-info {
    padding-left: 15px;
}

.yyi-rinker-title {
    font-size: 1.05em;
}

div.yyi-rinker-contents div.yyi-rinker-title p {
    margin: 5px;
}

div.yyi-rinker-contents p {
    padding: 0;
}

p {
    word-wrap: break-word;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

div.yyi-rinker-contents div.yyi-rinker-title a {
    font-weight: 700;
    color: #555;
}

div.yyi-rinker-contents div.yyi-rinker-title a {
    color: #333;
    text-decoration: none;
}

div.yyi-rinker-contents a {
    border: none;
}

a {
    text-decoration: none;
    transition: .3s ease-in-out;
}

a {
    background: 0 0;
}

div.yyi-rinker-contents div.yyi-rinker-detail {
    font-size: .8em;
    color: #999;
    padding-left: 15px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.yyi-rinker-detail .credit {
    font-size: 75%;
}

div.yyi-rinker-contents div.yyi-rinker-detail a {
    text-decoration: underline;
}

div.yyi-rinker-contents a {
    border: none;
}

a {
    color: #4f96f6;
}

a {
    text-decoration: none;
    transition: .3s ease-in-out;
}

a {
    background: 0 0;
}

div.yyi-rinker-contents div.yyi-rinker-detail .price-box {
    color: #aaa;
}

div.yyi-rinker-contents div.yyi-rinker-detail .price-box {
    color: #aaa;
}

div.yyi-rinker-contents ul.yyi-rinker-links {
    margin: 0;
}

div.yyi-rinker-contents ul.yyi-rinker-links {
    border: none;
    list-style-type: none;
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 10px auto;
    padding: 0;
    width: 100%;
}

ul.yyi-rinker-contents ol.yyi-rinker-contents {
    margin-bottom: 1.5em;
    padding: 1em 1em 1em 2.5em;
    border: solid 2px #e8e8e8;
    border-radius: 3px;
}

div.yyi-rinker-contents ul.yyi-rinker-links li.amazonlink {
    background: #ffb36b;
}

div.yyi-rinker-contents ul.yyi-rinker-links li.amazonlink {
    order: 20;
}

div.yyi-rinker-contents ul.yyi-rinker-links li.amazonlink {
    background: #f6a306;
}

body div.yyi-rinker-contents ul.yyi-rinker-links li {
    list-style: none;
}

div.yyi-rinker-contents ul.yyi-rinker-links li {
    display: inline-block;
    height: 37px;
    margin: 5px 10px 5px 0;
    padding: 0 12px;
    border-radius: 3px;
    background: #73c1ea;
    box-shadow: 0 8px 15px -5px rgba(0,0,0,.25);
    font-size: .95em;
    font-weight: 700;
    vertical-align: middle;
    line-height: 37px;
    transition: .3s ease-in-out;
}

div.yyi-rinker-contents ul.yyi-rinker-links li {
    content: '';
    position: static;
    margin: 2px 5px;
    padding: 0;
    border-radius: 2px;
    border: none;
    box-shadow: 0 6px 12px -5px rgba(0,0,0,.3);
    -ms-flex: 0 0 auto;
}

body div.yyi-rinker-contents ul.yyi-rinker-links li:before {
    position: absolute;
}

div.yyi-rinker-contents ul.yyi-rinker-links li:before {
    content: '';
    position: static;
}

ul.yyi-rinker-links li:before {
    background-color: transparent;
}

div.yyi-rinker-contents ul.yyi-rinker-links li a {
    padding-left: 0;
}

div.yyi-rinker-contents ul.yyi-rinker-links li a {
    height: 37px;
    line-height: 37px;
    font-size: .95em;
    padding-left: 10px;
    padding-right: 0;
    border-radius: 3px;
}

div.yyi-rinker-contents ul.yyi-rinker-links li a {
    position: relative;
    display: block;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: .9em;
    width: 100%;
    height: 30px;
    line-height: 270%;
    padding: 0 18px;
}

div.yyi-rinker-contents a {
    border: none;
}

a {
    text-decoration: none;
    transition: .3s ease-in-out;
}

a {
    background: 0 0;
}

div.yyi-rinker-contents ul.yyi-rinker-links li.amazonlink a:before, div.yyi-rinker-contents ul.yyi-rinker-links li.rakutenlink a:before, div.yyi-rinker-contents ul.yyi-rinker-links li.yahoolink a:before {
    content: "";
}



div.yyi-rinker-contents ul.yyi-rinker-links li.amazonlink a:before {
    content: '';
}

div.yyi-rinker-contents ul.yyi-rinker-links li a:before {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    text-align: center;
    border: none;
}

div.yyi-rinker-contents ul.yyi-rinker-links li.rakutenlink {
    background: #ea7373;
}

div.yyi-rinker-contents ul.yyi-rinker-links li.rakutenlink {
    background: #cf4944;
    order: 30;
}

body div.yyi-rinker-contents ul.yyi-rinker-links li {
    list-style: none;
}

div.yyi-rinker-contents ul.yyi-rinker-links li {
    display: inline-block;
    height: 37px;
    margin: 5px 10px 5px 0;
    padding: 0 12px;
    border-radius: 3px;
    background: #73c1ea;
    box-shadow: 0 8px 15px -5px rgba(0,0,0,.25);
    font-size: .95em;
    font-weight: 700;
    vertical-align: middle;
    transition: .3s ease-in-out;
}

div.yyi-rinker-contents ul.yyi-rinker-links li {
    content: '';
    position: static;
    margin: 2px 5px;
    padding: 0;
    border-radius: 2px;
    border: none;
    box-shadow: 0 6px 12px -5px rgba(0,0,0,.3);
    -ms-flex: 0 0 auto;
}

body div.yyi-rinker-contents ul.yyi-rinker-links li:before {
    position: absolute;
}

div.yyi-rinker-contents ul.yyi-rinker-links li:before {
    content: '';
    position: static;
}

ul.yyi-rinker-links li:before {
    background-color: transparent;
}

div.yyi-rinker-contents ul.yyi-rinker-links li a {
    padding-left: 0;
}

div.yyi-rinker-contents ul.yyi-rinker-links li a {
    height: 37px;
    line-height: 37px;
    font-size: .95em;
    padding-left: 10px;
    padding-right: 0;
    border-radius: 3px;
}

div.yyi-rinker-contents ul.yyi-rinker-links li a {
    position: relative;
    display: block;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: .9em;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 18px;
}

div.yyi-rinker-contents a {
    border: none;
}

div.yyi-rinker-contents ul.yyi-rinker-links li.yahoolink {
    background: #51a7e8;
}

div.yyi-rinker-contents ul.yyi-rinker-links li.yahoolink {
    background: #ff8a65;
}

div.yyi-rinker-contents ul.yyi-rinker-links li.yahoolink {
    background: #51a7e8;
    order: 40;
}

body div.yyi-rinker-contents ul.yyi-rinker-links li {
    list-style: none;
}

div.yyi-rinker-contents ul.yyi-rinker-links li {
    display: inline-block;
    height: 37px;
    margin: 5px 10px 5px 0;
    padding: 0 12px;
    border-radius: 3px;
    background: #73c1ea;
    box-shadow: 0 8px 15px -5px rgba(0,0,0,.25);
    font-size: .95em;
    font-weight: 700;
    vertical-align: middle;
    line-height: 37px;
    transition: .3s ease-in-out;
}

div.yyi-rinker-contents ul.yyi-rinker-links li {
    content: '';
    position: static;
    margin: 2px 5px;
    padding: 0;
    border-radius: 2px;
    border: none;
    box-shadow: 0 6px 12px -5px rgba(0,0,0,.3);
    -ms-flex: 0 0 auto;
}

body div.yyi-rinker-contents ul.yyi-rinker-links li:before {
    position: absolute;
}

div.yyi-rinker-contents ul.yyi-rinker-links li:before {
    content: '';
    position: static;
}

ul.yyi-rinker-links li:before {
    background-color: transparent;
}

div.yyi-rinker-contents ul.yyi-rinker-links li a {
    padding-left: 0;
}

div.yyi-rinker-contents ul.yyi-rinker-links li a {
    height: 37px;
    line-height: 37px;
    font-size: .95em;
    padding-left: 10px;
    padding-right: 0;
    border-radius: 3px;
}

div.yyi-rinker-contents ul.yyi-rinker-links li a {
    position: relative;
    display: block;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: .9em;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 18px;
}

div.yyi-rinker-contents a {
    border: none;
}






.main section {
  flex: 1;
}

.main-nav, .main {
  display: -webkit-flex;
  display: flex;
}
.main-nav li:first-child {
  margin-right: auto;
}
.main-nav a {
  margin: 10px;
  border-radius: 5px;
  background: #60B99A;
  color: #fff;
	display: block;
	padding: 15px;
	text-decoration: none;
}
.main-nav .logo {
  background: #4584b1;
}

/* Main contents */
.main section {


  margin: 1%;
  border-radius: 5px;
  background: #FFFFFF;
  padding: 15px;
}

.main h3 {
  color: #000000;
  font-size: 1.5rem;
  font-weight: bold;
}

.main h4 {
  font-weight: 700;
}
.main p {
  margin-top: 10px;
}

/* Mobile */
@media screen and (max-width: 700px) {
	.main {
		-webkit-flex-direction: column;
    flex-direction: column;
	}
}

.col-1 , .col-2 , .col-3, .col-4 {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: solid 3px #000000;
  
}

.user {
   padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #7db4e6;/*左線*/
}



a.anchor{
    display: block;
    padding-top: 70px;
    margin-top: -70px;
}
