
/* 元のCSS（バックアップ） */

.blue_box {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #6EAEE5;
    border-radius: 8px;
}

#respond h3#reply-title {
    display: none;
}


.line-yellow {
  background: linear-gradient(transparent 60%, rgba(252,200,0,.39) 0%);
}

.red_box {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #6EAEE5;
    border-radius: 8px;
}

.c_box.red_box {
	background: #FFE8BB;
	border-color: #FF9000;
}
.c_box.red_box .box_title span {
	background: #FF9000;
}

.c_box.blue_box {
	background: #E7FCFF;
	border-color: #6EAEE5;
}

.c_box.blue_box .box_title span {
	background: #6EAEE5;
}

.dot_box {
    border: 5px dashed #CCC;
    padding: 10px;
    border-radius: 10px;
}


.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}
.box1 p {
    margin: 0; 
    padding: 0;
}



.box1 {
    margin-bottom: 2em;
    padding: 2em;
    border: .5px solid #ccc;
    font-size: .8em;
    color: #555;
}





.woman_impressions {
    margin-bottom: 1.5em;
    padding: 1em;
    border: .5px solid #ccc;
    font-size: .8em;
    color: #555;
}


.woman_impressions_ttl {
    margin-bottom: 5px;
    font-weight: 700;
    color: #555;
}


.woman_impressions p:last-of-type {
    margin-bottom: 0;
    text-align: right;
}
.entry-content p {
    margin: 0 0 2em;
}

.woman_impressions_ttl:before {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 3px 0 0;
    border-radius: 50%;
    color: #eb6ea0;
    font-family: FontAwesome;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    content: "\f007";
    font-size: 2em;
}




.man_impressions_ttl {
    margin-bottom: 5px;
    font-weight: 700;
    color: #555;
}


.man_impressions p:last-of-type {
    margin-bottom: 0;
    text-align: right;
}
.entry-content p {
    margin: 0 0 2em;
}

.man_impressions_ttl:before {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 3px 0 0;
    border-radius: 50%;
    color: #4AAAEB;
    font-family: FontAwesome;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    content: "\f007";
    font-size: 2em;
}







.box-matome {
    position: relative;
    margin: 2.8em 0 2em;
    padding: 1.2em 1em 1em;
    border: solid 3px #f39800;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.33);
}
.sng-box {
    font-size: .94em;
}

.box-matome .box-title {
    display: inline-block;
    position: absolute;
    top: -12px;
    left: 10px;
    padding: 0 9px;
    background: #fff;
    color: #f39800;
    line-height: 1;
    font-size: 1.15em !important;
}


.box-matome .box-title:before {
    padding-right: 5.5px;
    font-family: FontAwesome;
    content: "\f040";
    font-size: 1.2em !important;
}


.box-matome ul {
    list-style-type: none!important;
    padding: 0;
    counter-reset: number;
}


.box-matome ul li {
    position: relative;
    display: block;
    padding: .65em 0 0 28px !important;
}


.box-matome .li-merit li:before {
    position: absolute;
    left: .5em;
    color: #2ca9e1;
    font-family: FontAwesome;
    content: "\f10c";
    background-color: transparent;
}



.box-matome .li-demerit li:before {
    position: absolute;
    left: .5em;
    color: #ef857d;
    font-family: FontAwesome;
    content: "\f00d";
    background-color: initial !important;
}


.entry-content  ul li:before {
	box-shadow: none;
}